extends layout

include mixins/_reviewForm
include mixins/_review

block content
  -const { name, description, slug, photo, location, tags , reviews} = store;
  .single
    .single__hero
      img.single__image(src=`/uploads/${photo}` || 'store.png') 
      h2.title.title--single
        a(href=`/stores/${slug}`) #{name}
  .single__details.inner
    img.single__map(src=h.staticMap(location.coordinates), alt="Map")
    p.single__location= store.location.address
    p= description

    if tags
      ul.tags
        each tag in tags
          li.tag
            a.tag__link(href=`/tags/${tag}`)
              span.tag__text ##{tag}
    if user
      +reviewForm(store)    
    if reviews
      .reviews
        each review in reviews
          .review
            +review(review)